<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="stylesheets/contact.css">


<title>Get in touch</title>
<style>
  body {
    font-family: 'Quicksand';
    background-color: #e0e0eb;
    

  }
 .image {
  padding-left: 20px;

  }
 
 .final{
   font-family: 'Quicksand'
 }

</style>
<body>
	<br>
	<br>
<div class="container">
  <h1>Contact us:</h1>
  <h3>Email address: makingspitfire@gmail.com</h3>
  <br>
  

<br>
<br>
<div class="image"> 
<img src="sp1.png">
<br>
<br>

<h3>Thank you for visiting our website!</h3>
</div>

</div>
</body>

<% include ../partials/footer %>
