<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="stylesheets/contact.css">
<title>Get in touch</title>
<style>
  body {
    font-family: 'Quicksand';

  }
 .image {
   padding-left: 530px;

  }
  .container {
    padding-left: 435px;
  }
  .finaltext {
    padding-left: 500px;
  }
</style>

	<br>
	<br>
<div class="container">
  <p>Contact us:</p>
  <br>
  <p>Email address: makingspitfire@gmail.com</p>
  <br>
</div>

  <div class="finaltext">
  <p>Thank you for visiting our website!</p>
  </div>

<br>
<br>
<div class="image"> 
<img src="sp1.png">

</div>

<% include ../partials/footer %>
