<% include ./partials/header %>

<link rel="stylesheet" type="text/css" href="contact.css">
<title>Get in touch</title>

	<br>
	<br>
<div class="container">
	<div id="text">
  <p>Contact us:</p>
  <br>
  <p>Email address: makingspitfire@gmail.com</p>
  <br>
  <p>Thank you for visiting our website!</p>
</div>
</div>
<br>
<br>
<div class="image"> 
	<div id="png">
<img src="sp1.png">
</div>
</div>

<% include ./partials/footer %>
