<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="stylesheets/contact.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="utf-8">

<title>The Project</title>
<style>
  body {
    font-family: 'Quicksand';
    background-color: #e0e0eb;
    

  }
 .image {
  align-content: center;

  }
 
 .final{
   font-family: 'Quicksand'
 }
.container {
       
        text-align: justify;
        align-content: center;
       
      
}
 h3{
    align-content: center;
}

</style>
<body>
	<br>
	<br>
<div class="container">
 <h1>About the Project</h1>
 <br>
 <br>
  <h4>"The Spitfire” is as much a design icon today as it was when it first flew in 1936. Its vital role in 'The Battle of Britain' merely serving to confirm its place at the very pinnacle of British engineering and design.
                However, surprisingly little is known about the people who actually designed and built the plane.
                Information is often out of print or buried in academic archives. It is either highly technical or excessively simplified and generalised, writers focusing on the machine rather than how it came into being or developed. The name of Chief Designer, R.J. Mitchell, is almost as ingrained in the British psyche as the aircraft itself, yet he was just one of the many “Supermariners” who designed, tested and built the Spitfire and whose names and roles are largely forgotten.
                It also seeks to investigate what their stories can tell us about the aircraft and what lessons we can learn from them about design today.
                <br>
                <br>

                With regard to the story. If we're talking the story of the Spitfire then here goes
                <br>
                <br>
                On 5th March 1936 a small, unpainted, aircraft took to the skies for the first time from Southampton Municipal Airport in Eastleigh. The flight was to last only a few minutes but was to change history. Known to it's creators, the men and women of the Supermarine Aviation Works in Southampton, simply as 'The Fighter' it was a bold venture for a company whose reputation had been built on flying boats not land based fighter aircraft. Indeed their previous venture, the Type 224, had been little short of a disaster. Undeterred, the design team, built up by their inspirational leader, R.J. Mitchell, were to develop their small fighter into what has become one of the most iconic aircraft ever created and one that played a crucial role in saving Britain in 1940.
                For the two years following it's maiden flight the 'The Spitfire', as it was now named, was to undergo many growing pains and set-back as the prototype was developed into a production aircraft. Some of the problems were technical, others production, others social and underlying them all political machinations that almost saw the aircraft still-born. Time and again the Supermarine team rose to the challenges and delivered an aircraft that was constantly improved, refined and extended such that it remained in front-line service throughout the entire Second World War, fought in every theatre of the war and in a remarkable array of roles.
                The story of how Supermarine was able to meet the challenges it faced, how it was able to continually deliver a world-beating aircraft in the most challenging of circumstances is the story this website hopes to tell. It is a story of an aircraft, but more importantly it is the story of the men and women who created it, who helped it evolve and who never gave up. 
                It is also the story of how that small aircraft inspired a nation. It rallied the population behind a design they could believe in when Britain was in it's darkest hour. 
        </h4>
  <br>
  

<br>
<br>
<div class="image"> 
<img src="sp1.png">
</div>
<br>
<br>


<h3>Thank you for visiting our website!</h3>


</div>
</body>

<% include ../partials/footer %>
