<% include ../partials/header %>

<title>Inform</title>
<div class="container">
  <h1>The technical and design background of the Spitfire</h1>
  <p>Webpage coming soon...</p>
  <img src="images/sp1.png">          
</div>


<% include ../partials/footer %>
