<% include ../partials/header %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Inform</title>
<div class="col-sm-12">
  <h1>The technical and design background </h1>
  <p>Webpage coming soon...</p>
  <hr>
<div id="image"> 
<img src="figure.jpg">
</div>       
</div>


<style>
    body {
      font-family: 'Quicksand';
      background-color: #e0e0eb;

    }
    .col-sm-12 {
      text-align: center;
      padding-left: 40px;
      
      
    }
    #image {
    opacity: 0.2;
    filter: alpha(opacity=50);
    padding-right: 30px;
    align-self: auto;
    
    }
</style>    





<% include ../partials/footer %>
