<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="stylesheets/contact.css">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="utf-8">

<title>The Team</title>
<style>
  body {
    font-family: 'Quicksand';
    background-color: #e0e0eb;
    

  }
 .image {
  align-content: center;

  }
 
 .final{
   font-family: 'Quicksand'
 }
.col-sm-11 {
        padding-left: 10%;
        padding-right: 10%;
        text-align: justify;
        align-content: center
       

}
.team {
    text-align: center;
    font-size: 40px;
}
 h3{
    align-content: center;
}

</style>
<body>
	<br>
    <br>

<div class="col-sm-11">
    <div class="team"
 <h1>The Team</h1>
 </div>
 <hr/>
 <br>
 <br>
 <div class="col-sm-4">
    <img src="david1.jpg">
</div>
<h2>Dave Key</h2>
<br>
  <h4>
    Historian, Software Engineer & breaker of things.
    
    Born and bred in the Winchester area, and still living locally in Eastleigh, Hursley and its history have long been a passion and in my (voluntary) role as the site historian at Hursley Park I have been able to combine my historical training with my current role as a Software Engineer.
    
    I maintain a website on The History of Hursley Park covering the history of the estate (and surrounding area), from its medieval origins to the present day.
    
    I also assist with the Hursley Museum where the story of computing and IBM’s role in that history is told.
    
    In recent years a childhood love of the iconic Spitfire has been rekindled through the story of how Supermarine came to Hursley Park during WWII. Sparked by the stories of the Supermarine Design Team in Hursley, and the chance to talk to those who were there, that initial interest has now broadened to include the full story of the Supermariners and led to the idea of this site.</h4>
                <br>

<br>
<br>
<div class="col-sm-4">
    <img src="katie2.jpg">
</div>
<h2>Katie Faddy</h2>
    <h4>Does the Spitfire deserve to be an Icon? What makes truly beautiful design? Working with David Key (historian at Hursley Park), Paul Beaver (historian and author of 'Spitfire People'), Pat Maier (Lecturer in Academic Practice at University of Southampton) and the University of Winchester to uncover the many stories connected to the Spitfire from the public, in particular the design of the Spitfire and making of the prototypes in the local area.</h4>
<br>
<br>
<br>




</div>
</body>


<% include ../partials/footer %>
