body {
    background-color:  #e0e0eb;

}
.jumbotron {
	text-align: center;
	font-family: 'Glegoo', serif;
	font-size: 50px;
	background-image: url('machine2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
	
.container{
	font-family: 'Quicksand', sans-serif;
}
#png {
	padding-left: 55px;
}

#text {
	font-family: 'Quicksand', sans-serif;
	
}

.col-md-6{
	align-content: center
}

.blogentry{
	text-overflow: ellipsis;
	max-height: 5em;
}
