<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="stylesheets/contact.css">

<title>Icon</title>
<style>
        body {
          font-family: 'Quicksand';
          background-color: #e0e0eb;
        }

        