<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="stylesheets/contact.css">


<title>Forum</title>

<style>
    body{
        font-family: 'Quicksand';
    background-color: #e0e0eb;
}
.col-sm-6 {
    padding-left: 60px;
    padding-top: 50px;
}
</style>

<body>
    <div class="col-sm-6">
    <h2>Forum Coming Soon...</h2>
    <img src="sp1.png">
    </div>
</body>






<% include ../partials/footer %>
