<% include ../partials/header %>




<title>Commercials</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="col-sm-12">
    <h1>Commercials</h1>
    <br>
    <br>
    <h2>The Forgotten Spitfire Designer </h2>
    <iframe src="https://drive.google.com/open?id=1kgRPqx_fqhj3yIkKlIDR8Kt-nQW8moE2"; width="800" height="375" type='application/pdf'></iframe>
</div>
  <style>
        body {
          font-family: 'Quicksand';
          background-color: #e0e0eb;
        }
        .col-sm-12 {
        text-align: center;
        padding-left: 40px;
        padding-right: 80px;

        }
        iframe {
            padding-right: 80px;
        }
 
 </style>




  <% include ../partials/footer %>