<% include ../partials/header %>




<title>Commercials</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="col-sm-12">
    <h1>Commercials</h1>
    <br>
    <br>
    <h2>The Forgotten Spitfire Designer </h2>
    <div id="designer">
      <script src="/js/pdfobject.js"></script>
      <script>PDFObject.embed("/pdf/spitfire.pdf", "designer");</script>
    </div>
    </div>
    <style>
        body {
          font-family: 'Quicksand';
          background-color: #e0e0eb;
        }
        .pdfobject-container { height: 500px;}
        .pdfobject { border: 1px solid #666; }
        .col-sm-12 {
        text-align: center;
        padding-left: 40px;
        padding-right: 80px;

        }
        
         
        
 
 </style>




  <% include ../partials/footer %>