<% include ../partials/header %>

<link rel="stylesheet" type="text/css" href="stylesheets/design.css">
<title>Design Office</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.parallax {
    /* The image used */
    background-image: url("discovercover1.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
h1 {
    text-align: center;
    font-family: 'Quicksand';
}
.col-sm-4 {
    padding-left: 10%;
}
.paragraph {
    font-family: 'Quicksand';
    text-justify: newspaper;
    text-justify: distribute-all-lines;
    text-align: justify;
    padding-right: 20%;
    padding-top: 10%;
    padding-left: 10%;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
</style>
</head>
<body>


<div class="parallax"></div>

<div style="height:1000px;background-color:#e0e0eb;font-size:15px">
<br>
<div class="container">
    <h1>The Drawing Office</h1>
    <br>
    <br>

        <div class="row">
          <div class="col-sm-4">
            <img src="alfredh.jpg"> 
            </div>
            <div class="paragraph">
                <h2>Alfred Hucknall</h2>
                <br>
                <p>Drawing Office 1943-51   

                        <!-- Trigger/Open The Modal -->
                        <button id="myBtn">Find Out More</button>
                        
                        <!-- The Modal -->
                        <div id="myModal" class="modal">
                        
                          <!-- Modal content -->
                          <div class="modal-content">
                            <span class="close">&times;</span>
                            <br>
                            <p>As with the obituary I have have not altered Alfred's words as recorded, although I have omitted sections less relevant to the story of Supermarine. It forms an interesting insight into not only how yound engineers and designers were recruited but also the accommodation provided!
                                    "When we were fifteen, we became eligible to start a five-year engineering apprenticeship. I was fond of whittling wood, so becoming an apprentice pattern maker, in the Pattern-shop, was an easy choice for me. Tom made the same choice.
                                    It was about the same time (1940-1941) that Adolf Hitler's fleet of bombers was making their targets on such places as Vickers-Armstrong. One night, in winter of 1941, his bombers made Vickers-Armstrong-Naval Construction Works their primary target. I believe they dropped a land mine on a parachute; whatever it was, the pattern-shop was leveled to just flat concrete.
                                    It was around this time (1941) that Churchill asked for a part-time volunteer army to be formed. First it was called the L.D.V. (Local Defense Volunteers). However, after a short time it was changed to "Home-Guard" (when Tom and I volunteered). It was a most eventful year for Tom and I, and three other apprentices who we had never met. They were Tom Whitaker, Jim Patterson, and Cyril Wearing. The five of us, together with Tom and I and the other apprentices were interviewed by a visiting group of Vickers executives. It was the most stressful interview I have experienced in my entire working career of mechanical and aeronautical engineering. As a result of these interviews, the five of us were chosen to work at Vickers-Armstrong Supermarine Works.
                                    Some time that same year, the famous Prime Minister, Winston Churchill, who led Britain during World War II, (it was later, after the Japanese bombing of Pearl Harbor, that the global war was christened World War II), paid Vickers Armstrong a visit. We felt honored to have seen this great man stride confidently through the Works. Tom and I volunteered to join the "Home Guard." This was a part-time defense army of civilians. In fact, when it was first formed as the "Local Defense Volunteers," Winston Churchill didn't like the name, and decreed that it would be named Home Guard.
                                    We received training by a regular army sergeant, to launch anti-aircraft missiles. Each projector guidance system launched two missiles (or rockets) preset to explode at whatever height is chosen. The sergeant arranged for us to go to Walney Island, which looked out over the Irish Sea. In a chosen area, we were told that we would experience the feel of firing off one rocket, at a predetermined range. It prepared us for the real thing, when a full battery of artillery, with a complement of two missiles on each launcher at a predetermined height, would bring down several of the German bombers in flames. For whatever reason, maybe our journey south to work at Supermarine Aviation Works (in 1943), this rocket shoot at the bombers was not to be. I was 18 years old when Tom and I left Barrow-in-Furness, in our British Army uniforms, and boarded the train that would take us south to Winchester, that ancient city in the county of Hampshire. Surely it was mere coincidence that Alfred from Barrow would find himself in the city where the first King of England, "Alfred the Great," (886-889 AD) reigned as King after defeating the invading "Normans" (from the European Continent in the area now called France). A replica of King Alfred, holding a large sword and shield, prominently occupies High St., the main shopping Street. Winchester is where I, eventually, would be most fortunate to meet my dear wife, Yvonne.
                                    First and foremost, I had to visit Supermarine Aviation Works, which was now located in Hursley Park, near the small village of Hursley. All of this had been arranged by the Apprentice Supervisor, who had also picked out clean and reputable "digs" for us. The term "digs" is a slang expression in England, which simply means that some family, other than your own, is providing you with a home. Similar to "board & lodging," which means that some family is providing you with both food and a bed.
                                    Cyril Wearing and Jim Patterson were first taken to a home at, or near to the top of, Stanmore Lane. Then Tom Turner and I were taken to the home of Mrs. Marsh, about half way down the hill of Stanmore Lane. Tom Whittaker (who was the 5th class apprentice chose at Barrow) was put near the bottom of Stanmore Lane. (Recently Tom told me that Tom Whittaker decided to become an officer in the Merchant Navy). Cyril Wearing fell in love with the daughter of his landlady (which was of no concern to Jim), so he arranged to come and live with Tom and me.
                                    One year prior to meeting Yvonne, Tom, Jim, and I went on the public busses to Southampton University, as part-time engineering students (1943- 1946). We earned graduation in 1946. From age 21-26 (1941-1951), Jim and I played Rugby for the town of Eastleigh (which is about mid-way between Winchester and the large city of Southampton). I played in the position known as "hooker." Jim played as quarterback. The position of hooker is in the middle of the front row (of three). The quarterback throws the oval ball into the tunnel, formed by the two opposing front rows. In one of the London newspapers, in the sports page, there was a short commentary on our game: "Hucknall played like a demon." He was the most constructive forward on the field, and stood out above others.
                                    At this point, both Tom and I worked as designers in the aircraft industry. Tom told me that he had been offered a job in Toronto, Canada. I was offered a job in Fort William, Canada, and they wanted me as quickly as possible. They would pay our airfare to Montreal, where Canadian Car and Foundry Company had their headquarters.
                                    When we departed from London Airport, in what I recognized as a refurbished World War II Bristol Bomber with four Radial Engines, I didn't say a word about it to Yvonne. When we were about halfway across the Atlantic Ocean, one engine spluttered briefly, and almost stopped. However, the pilot managed to get it working normally. Montreal, here we come!</p>
                          </div>
                        
                        </div>
                        
                        <script>
                        // Get the modal
                        var modal = document.getElementById('myModal');
                        
                        // Get the button that opens the modal
                        var btn = document.getElementById("myBtn");
                        
                        // Get the <span> element that closes the modal
                        var span = document.getElementsByClassName("close")[0];
                        
                        // When the user clicks the button, open the modal 
                        btn.onclick = function() {
                            modal.style.display = "block";
                        }
                        
                        // When the user clicks on <span> (x), close the modal
                        span.onclick = function() {
                            modal.style.display = "none";
                        }
                        
                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function(event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }
                        </script>      
                        <br>
                        <p>Born in Barrow-in-Furness in 1925, in the shadow of the Vickers Shipyards, Alfred joined Vickers-Armstrongs Supermarine in 1943 as part of a wartime effort to get young men into the engineering and the aviation industry and having passed an initial assessment at Barrow.
                        At the age of 18, with four other young apprentices (Tom Turner, om Whitaker, Jim Patterson, and Cyril Wearing), he was sent to Hursley Park to work in the Design Office and learn his trade. In addition to his work with Supermarine he was also required to gain the necessary academic qualifications and had to attend the University of Southampton as an engineering student on a part-time basis. He graduated in 1946.
                        Having married in 1949 Hucknall remained with Supermarine until 1951 when he took the opportunity of a career move and emigrated to Canada where he remained with his family until his death in 2011.
                        Alfred Hucknall's story comes from his Life Story (written and transcribed (as dictated to his daughter-in-law between 2001 and 2003) and used in his obituary.
                        I have included an extract from that obituary below. To read it in full please go to the obituary.
                        </p>
            </div>
            <br>
            <br>
            <div class="row">
                    <div class="col-sm-4">
                      <img src="eric.jpg"> 
                      </div>
                      <div class="paragraph">
                          <h2>Eric Lovell-Cooper</h2>
                          <br>
                          <p>Drawing Office 1943-51
                        <!-- Trigger/Open The Modal -->
                        <button id="myBtn2">Find Out More</button>
                        
                        <!-- The Modal -->
                        <div id="myModal2" class="modal">
                        
                          <!-- Modal content -->
                          <div class="modal-content">
                            <span class="close">&times;</span>
                            <p>When he joined Supermarine he was initially concerned that he had made the wrong career decision based on the ramshackle condition of the Drawing Office in the Sail Loft of the delipadated Woolston Works.However, he persevered and went on to lead the Drawing Office through the development of the Spitfire and both World War II and the Cold War. 
                             Despite his large and imposing stature, especially against the more frail figure of Joe Smith, Lovell-Cooper seems to have been most noted by his colleagues for his ability to "cat nap" in his office after lunch!</p>
                          </div>
                        
                        </div>
                        
                        <script>
                        // Get the modal
                        var modal = document.getElementById('myModal2');
                        
                        // Get the button that opens the modal
                        var btn = document.getElementById("myBtn2");
                        
                        // Get the <span> element that closes the modal
                        var span = document.getElementsByClassName("close")[0];
                        
                        // When the user clicks the button, open the modal 
                        btn.onclick = function() {
                            modal.style.display = "block";
                        }
                        
                        // When the user clicks on <span> (x), close the modal
                        span.onclick = function() {
                            modal.style.display = "none";
                        }
                        
                        // When the user clicks anywhere outside of the modal, close it
                        window.onclick = function(event) {
                            if (event.target == modal) {
                                modal.style.display = "none";
                            }
                        }
                        </script>      
                        <br>
                        <p>Senior Draughtsman                      
                        Recruited by R.J. Mitchell in 1932 as one of the senior members of the Drawing Office. Initially he was the Assistant Chief Draughtsman, second only to Joe Smith. In 1937, following the death of Mitchell, Joe Smith took on the role of Chief Designer and Lovell-Cooper was promoted to Chief Draughtsman.
                        </p>
            </div>  
                        
</div>

<% include ../partials/footer %>

