
<% include ../partials/header %>
<link rel="stylesheet" type="text/css" href="stylesheets/contact.css">

<title>The People</title>

  <style>
		.navbar {
			margin-bottom: 0px;
		}
  .col-sm-12 {
		font-family: 'Quicksand';
		text-align: center;
	}
	
	.container-fluid {
		font-family: 'Quicksand';
		text-align:center;
		text-align: justify;
	}
	.jumbotron {
		
		padding: none;
		width: 100%;
	}
	.paragraphs {
		font-size: 18px;
	}
	
	

	</style>
	
	<body>
			<div class="col-sm-12">
					<h1>The people behind the machine</h1>
					<br>
					<hr>
					<br>
			
			<div class="container-fluid">
				<div class="container">
					<h2>Design Office</h2>
					<div class="paragraphs">
					<p>From designer to tracer, aerodynamicist to metallurgist,
							all the skills required to create an aircraft</p></div>
					<img src="designers.jpg">
					<br>
					<br>
				<a href="/design"><button class="btn btn-default btn-md">Find Out More</button></a>
					<br>
			
				<br>
				<br>
				<div class="container-fluid bg-grey">
					<h2>The Works</h2>
					<div class="paragraphs">
					<p>Who were the people who actually built the Spitfire
							A look at who the factory workers were, what they did and what they experienced. 
							Everyone from the skilled workers from Supermarine in Southampton to the semi-skilled workers in the 'Shadow Factory' and 'Dispersal Works' </p></div>
							<img src="eastleighpeople.jpg">
				<br>
				<br>
<<<<<<< HEAD
						<button class="btn btn-default btn-md">Find Out More</button></a>
=======
						<button class="btn btn-default btn-lg">Find Out More</button></a>
>>>>>>> 868f7c898e5d399e6a4c0f61ee63f180d0f9985d
						<br>
				</div>
				<br>
				<br>
				<div class="container-fluid">
						<h2>Commercials</h2>
						<div class="paragraphs">
						<p>Nothing gets made without 'the people behind the scenes', the men and women who were responsible for the day-to-day administration of the company. For ensuring that the designers and workers were paid and that what they made was sold.</p></div>
						<img src="people.jpg">
						<br>
						<br>
<<<<<<< HEAD
						<a href="/commercials"><button class="btn btn-default btn-md">Find Out More</button></a>
=======
						<a href="/commercials"><button class="btn btn-default btn-lg">Find Out More</button></a>
>>>>>>> 868f7c898e5d399e6a4c0f61ee63f180d0f9985d
						<br>
				</div>
			</div>
			
			</body>

			<% include ../partials/footer %>