
<% include ./partials/header %>


<link rel="stylesheet" type="text/css" href="contact.css">
<title>Discover</title>

<div class="jumbotron text-center">

<div class="container">
	<p>Discover the Stories Behind the Legend</p>
	<br>
	<br>
	
</div>
</div>


<% include ./partials/footer %>
